body {
    background-image: url("main.jpg");
    background-color: #cccccc;
}

#header{
    background-color:rgba(255,182,193,0.6);
    text-align: left;
    padding: 20px;
    opacity: 0.6;
    filter: alpha(opacity=40);
    border-style: solid;
    border-color: #eee5de;
    border-top: none;
}

#menu{
    background-color:rgba(255,255,255,0.6);
    text-align: left;
    padding: 20px;
    width: 200px;
    height: 500px;
    opacity: 0.6;
    filter: alpha(opacity=40);
    border-style: solid;
    border-color: #eee5de;
    border-top: none;
}

#main-block {
    background-color:rgba(255,255,255,0.6);
    text-align: left;
    padding: 10px;
    margin-left: 200px;
    margin-top: -500px;
    width: 940px;
    height: 1000px;
    opacity: 0.6;
    filter: alpha(opacity=40);
    border-style: solid;
    border-color: #eee5de;
    border-top: none;
    
}

#second-block {
    background-color:rgba(255,255,255,0.6);
    text-align: left;
    padding: 20px;
    margin-left: 700px;
    margin-top: -1000px;
    width: 400px;
    height: 380px;
    opacity: 100;
    filter: alpha(opacity=40);
    border-style: solid;
    border-color: #eee5de;
    border-top: none;
    
}

h1 {
    color: black;
}

small {
    color: black;
    font-style: italic;
}
